@import "resource";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

canvas {
  display: block;
  margin: auto;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
}

h1 {
  margin: 2rem auto;
  font-size: 1.5rem;
  text-align: center;
  color: #92c41d;
}

#timer-setting {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: #92c41d;
}

#timer-inputs {
  width: 100%;
  padding: 1rem 0;

  span {
    color: white;
    font-size: 2rem;
  }

  input {
    margin: 1rem;
    padding: 1rem;
    border: 0;
    width: 20%;
    border-radius: 3px;
    font-size: 2.5rem;
    color: black;
  }
}

#timer-control {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  button, span {
    display: block;
    margin: 0 1rem;
    padding: 1rem;
    border: 3px white solid;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    color: white;
    background: transparent;
    transition: .3s;
    font-size: 1.5rem;
    outline: none;
  }

  button {
    &:hover {
      background: rgba(255, 255, 255, .3);
    }

    &:active {
      box-shadow: 1px 1px 3px rgba(0, 0, 0, .2) inset;
    }
  }

  label {
    display: block;
    width: 2rem;
    margin: 0 1rem;
    padding: 0;
  }

  span {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url($sound-off) no-repeat no-repeat center center;
    background-size: contain;

    &:hover {
      background: rgba(255, 255, 255, .2) url($sound-off) no-repeat no-repeat center center;
      background-size: contain;
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  input:checked + span {
    background: url($sound-on) no-repeat no-repeat center center;
    background-size: contain;

    &:hover {
      background: rgba(255, 255, 255, .2) url($sound-on) no-repeat no-repeat center center;
      background-size: contain;
    }
  }
}

#timer-display {
  width: 100%;
  margin: 2rem auto;

  p {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: black;
  }
}


main {
  display: block;
}

article {
  margin: 1rem auto;
  width: 80%;

  h1 {
    margin: 3rem auto 1rem;
    padding-left: 1rem;
    width: 100%;
    text-align: left;
    border-left: 5px solid #92c41d;
    color: black;
  }

  p {
    width: 90%;
    margin: 1rem auto;
    line-height: 2rem;
  }
}

footer {
  width: 100%;
  margin: 3rem 0 0;
  padding: 2rem;
  background: #92c41d;
  color: white;

  #created-by {
    text-align: center;

    a {
      color: white;
    }
  }
}